<div class="row pl-3">
    <h4 class="ml-5 bold">لیست معرف های ازدواج</h4>
    <button class="d-flex align-items-center p-2 btn btn-outline-success mr-auto" (click)="createAgent($event)"><i
            class="fa fa-plus mr-2"></i>افزودن معرف ازدواج جدید
    </button>
</div>
<div class="row">
    <div class="col-12" *ngIf="!closeSearchSetting">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="text-right text-muted">
                        <button mat-icon-button *ngIf="showSearchPanel" (click)="slide()">
                            <mat-icon class="font-medium-3" inline>expand_less</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="!showSearchPanel" (click)="slide()">
                            <mat-icon class="font-medium-2" inline>expand_more</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon class="font-medium-2" inline (click)="resetSearchPanel()">refresh</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon class="font-medium-2" inline (click)="closeSearchSetting = true">
                                close
                            </mat-icon>
                        </button>
                    </div>
                    <div class="searchPanel">
                        <form [formGroup]="agentsListForm" (ngSubmit)="searchAgents()">
                            <div class="row align-middle">
                                <div class="col-lg-4 col-12">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>نام،نام خانوادگی،شماره همراه</mat-label>
                                        <input matInput type="text"
                                               formControlName="SearchValue">
                                        <mat-icon *ngIf="this.agentsListForm.controls.SearchValue.value" matSuffix
                                                  color="warn" class="cursor-pointer"
                                                  (click)="resetControl($event,'SearchValue','input')">close
                                        </mat-icon>

                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>جنسیت</mat-label>
                                        <mat-select formControlName="Genders" multiple>
                                            <app-select-check-all [model]="agentsListForm.controls.Genders"
                                                                  [values]="genders"></app-select-check-all>
                                            <mat-option *ngFor="let gender of genders" [value]="gender">
                                                {{gender.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                        <div matSuffix
                                             *ngIf="this.agentsListForm.controls.Genders.value && this.agentsListForm.controls.Genders.value.length > 0"
                                             (click)="resetControl($event,'Genders')">
                                            <mat-icon color="warn">clear</mat-icon>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>محل سکونت</mat-label>
                                        <mat-select formControlName="CityIds" [multiple]="true">
                                            <mat-option>
                                                <ngx-mat-select-search
                                                        placeholderLabel="جستجو محل سکونت"
                                                        noEntriesFoundLabel="موردی یافت نشد"
                                                        formControlName="cityFilterCtrl"
                                                >
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                                                {{city.name}}
                                            </mat-option>
                                        </mat-select>
                                        <div matSuffix
                                             *ngIf="this.agentsListForm.controls.CityIds.value && this.agentsListForm.controls.CityIds.value.length > 0"
                                             (click)="resetControl($event,'CityIds')">
                                            <mat-icon color="warn">clear</mat-icon>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>لیست گروه ها</mat-label>
                                        <mat-select formControlName="GroupIds" [multiple]="true">
                                            <mat-option>
                                                <ngx-mat-select-search
                                                        placeholderLabel="جستجو گروه ها"
                                                        noEntriesFoundLabel="موردی یافت نشد"
                                                        formControlName="groupFilterCtrl"
                                                >
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
                                                {{group.name}}
                                            </mat-option>
                                        </mat-select>
                                        <div matSuffix
                                             *ngIf="this.agentsListForm.controls.GroupIds.value && this.agentsListForm.controls.GroupIds.value.length > 0"
                                             (click)="resetControl($event,'GroupIds')">
                                            <mat-icon color="warn">clear</mat-icon>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-12 my-2 mr-auto">
                                    <button type="submit" mat-raised-button class="gradient-nepal white btn-block">فیلتر
                                        نتایج
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="showTable">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" class="w-100">

                            <ng-container matColumnDef="fullName">
                                <th mat-header-cell *matHeaderCellDef> نام و نام خانوادگی</th>
                                <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}}</td>
                            </ng-container>

                            <ng-container matColumnDef="gender">
                                <th mat-header-cell *matHeaderCellDef> جنسیت</th>
                                <td mat-cell *matCellDef="let element"> {{element.gender | gender}} </td>
                            </ng-container>

                            <ng-container matColumnDef="group">
                                <th mat-header-cell *matHeaderCellDef>گروه</th>
                                <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="agentCode">
                                <th mat-header-cell *matHeaderCellDef>کد معرف ازدواج</th>
                                <td mat-cell *matCellDef="let element"> {{element.agentCode}} </td>
                            </ng-container>

                            <ng-container matColumnDef="place">
                                <th mat-header-cell *matHeaderCellDef>محل سکونت</th>
                                <td mat-cell *matCellDef="let element"> {{element.placeOfResidenceProvinceName}}
                                    - {{element.placeOfResidenceCityName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> عملیات</th>
                                <td mat-cell *matCellDef="let element" class="action-link">
                                    <button mat-icon-button (click)="editAgent($event , element)">
                                        <mat-icon inline class="font-medium-3">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="$event.stopPropagation()">
                                        <mat-icon inline class="font-medium-3">delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                        <mat-paginator showFirstLastButtons appStylePaginator
                                       (returnCurrentPage)="returnCurrentPage($event)"
                                       [length]="len"
                                       [pageSize]="pageSize"
                                       [pageSizeOptions]="[5,10,20]"
                                       (page)="pageEvent = $event ; onPaginateChange($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<mat-form-field appearance="outline">-->
<!--    <mat-label>از تاریخ</mat-label>-->
<!--    <input matInput [matDatepicker]="picker6" [(ngModel)]="dateControl" [min]="minDate" [max]="maxDate" (dateInput)="onInput($event)" (dateChange)="onChange($event)">-->
<!--    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker6 ></mat-datepicker>-->
<!--</mat-form-field>-->

