/deep/{
  .mat-card{
    border: 1px solid #eee !important;
  }
}

.title {
  line-height: 41px;
  margin: 0;
}

.footer {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background: #f4f4f4;
  border-top: 2px solid #bababa !important;
}
